<section *ngFor="let usuario of usuarios">
    <img src="https://fst-heroku-project-cci.herokuapp.com/api/avatars/{{usuario.avatar}}" alt="avatar" width="150" height="150">
    <h5>{{usuario.nombre}}</h5>
    <h6>{{usuario.apellido}}</h6>
    <h6>{{usuario.edad}}</h6>
    <!--<p>{{usuario.email}}</p>-->
</section>
